<template name="tasklist">
	<header>
      <h1>Todo List ({{incompleteCount}})</h1>
    </header>

	<label class="hide-completed">
	  <input type="checkbox" checked="{{hideCompleted}}" />
	  Hide Completed Tasks
	</label>

{{#if currentUser}}
	<form class="new-task">
		<div class="container">
			<div class="row">
				<div class="span6">What ?</div>
				<div class="span6">
					<input type="text" name="text" placeholder="Type to add new tasks" />
					{{#if taskTitleNotPopulated}}
						<span class="error">Title is required</span>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="span6">Where ?</div>
				<div class="span6">
					<input type="text" name="location" placeholder="Type to assign a location" />
					{{#if taskLocationNotRecognized}}
						<span class="error">The location was not recognized</span>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<button type="submit">Add</button>
					<button class="reset_btn" type="reset">Reset</button>
				</div>
			</div>
		</div>
	</form>
{{/if}}
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
</template>