

/* CSS declarations go here */
body {
  font-family: sans-serif;
  background: #E7E7E7;

  margin: 0;

  font-size: 14px;

  /* needed for navbar */
  padding-top: 70px;
}

article {
  margin: 20px 0;
}

.content-container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  background: #E7E7E7;
  color: white;
  text-align: center;
  padding-top: 10px;
  height: 30px;
  max-height: 30px;
  font-style: italic;
}

header {
  background: #E7E7E7;
  padding: 15px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}